.youtube {
   
    .yt_header {
       
        .yt_nav {
            display: flex;
            position: relative;
            align-items: center;
           
            padding: 1rem;
            top: -9px;
          
            .toggler {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                min-height: 25px;
                min-width: 25px;
                max-height: 25px;
                max-width: 25px;
                margin: 0 10px;
                .line {
                    display: block;
                    height: 1px;
                    width: 70%;
                    background: black;
                    margin: 10% 2%;
                    border-radius: 10px;
                }
            }
            .logo {
                position: relative;
                margin-left: 1.5vw;
                min-width: 90px;
                max-width: 90px;
                &::after {
                    content: 'NP';
                    position: absolute;
                    right: -2.6vw;
                    top: -7%;
                    font-size: 12px;
                    font-weight: 1;
                    
                    
                }
            }
            .text_search {
                position: relative;
                display: flex;
                align-items: center;
                border-radius: 40px;
                border: 1px solid #ccc;
                padding: 1rem;
                height: 40px;
                width: 50%;
                margin: 0 0 0 100px;
               
                .search_btn {
                    position: absolute;
                    bottom: -1%;
                    right: 0;
                    height: 100%;
                    width: 40px;
                    z-index: 1;
                    border: none;
                    border-top-right-radius: 40px;
                    border-bottom-right-radius: 40px;

                    .s_btn_circle {
                        position: absolute;
                        top: 15%;
                        left: 20%;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        border: 1.8px solid #777676;
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -20%;
                            height: 1.8px;
                            width: 20px;
                            background: #777676;
                            transform: rotate(35deg)
                        }
                    }
                }
                input {
                    padding: 0.5rem;
                    font-size: 1rem;
                    z-index: -3;
                    border:none;
                    outline: none;
                    width: 100%;
                    
                }
            }
            .voice_search {
                position: relative;
                background: #f2f2f2;
                padding: 1rem;
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 50px;
                margin: 0 1%;
              
                &:hover {
                    background: #dddbdb;
                }
                .holder {
                    position: absolute;
                    height: 20px;
                    width: 15px;
                    top: 20%;
                    border-radius: 50%;
                    border-bottom: 2px solid black;
                    &::after {
                        position: absolute;
                        content: '';
                        height: 7px;
                        width: 4px;
                        background: black;
                        top: 100%;
                        left: 40%;
                        
                    }
                }
                .mouth {
                    position: absolute;
                    height: 15px;
                    width: 10px;
                    background: black;
                    border-radius: 50px;
                    bottom: 35%;
                    left: 38%;
                    top: 20%;
                }
            
                   
                    
            }
            .right_side_options {
                display:  flex;
              align-items: center;
                margin-left: auto;
                .create {
                    position: relative;
                    height: 20px;
                    width: 20px;
                    border: 1px solid black;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   font-size: 1.3rem;
                   margin: 0 2rem;
                 .triangle {
                   position: absolute;
                   top: 2%; 
                   left: 50%;
                   height: 10px;
                   width: 10px;
                   border-style: solid;
                   border-width: 10px 10px 10px 10px;
                   border-color: transparent steelblue transparent transparent;
                }
              
                }
                .notifications {
                    position: relative;
                    height: 20px;
                    width: 20px;
                    border: 1px solid black;
                    margin: 0 1rem;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    .dot1, .dot2 {
                        position: absolute;
                        height: 5px;
                        width: 5px;
                        border: 1px solid black;
                        border-radius: 50px;
                        left: 40%;
                        top: -30%;
                       
                    }
                    .dot2 {
                        top: 100%;
                        border: 3px solid black;
                    }
                }
                .profile_picture {
                    height: 30px;
                    width: 30px;
                    background-color: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin: 0 1rem;
                }
               
            }
        }
    }
    .content {
        display: grid;
        grid-template-columns: 70px auto;
        height: calc(100vh - 72px);
        .side_menu {
            text-align: center;
            background: rgb(255, 255, 255);
            .item {
                display: block;
                width: 72px;
                height: 64px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                padding: 1rem;
                margin: 0.5rem 0.2rem;
                width: 90%;
                border-radius: 10px;
                &:hover {
                    background: #efeded;
                }
              
        
                a {
                    display: block;
                    height: 25px;
                    font-size: 10px;
                    text-decoration: none;
                    
                }
               
            }
        }
        .main_contents {
         
            .scroll_container {
                display: flex;
                align-items: center;
                height: 50px;
                width: 100%;
                background: #efeded;
                padding: 1rem;
                .sc_btn {
                    padding: 0.5rem;
                    background: black;
                    color: white;
                }
                .sc_btn_next {
                    height: 30px;
                    width: 30px;
                    background: #ccc;
                    margin-left: auto;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg {
                        height: 70%;
                    }
                }
            }
            .yt_videos {
                padding: 2rem 1rem;
                display: flex;
              
            }
        }
    }
   
    
}