.youtube {

    .content {
        display: grid;
        grid-template-columns: 70px auto;
        height: calc(100vh - 72px);
       
        .main_contents {
         
      
         
        }
    }
   
    
}